@use '../constants';
@use '../mixins';

.gallery-card {
  position: relative;
  overflow: hidden;
  border-radius: 6px;

  &-image {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &-detail {
    @include mixins.flexbox(start);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 54px;
    padding: 0 16px;
    background-color: rgba(constants.$black, 0.4);

    .avatar-32,
    .order {
      flex-shrink: 0;
    }

    .username,
    .order {
      @include mixins.text-style(16, constants.$white);
    }

    .avatar-32 {
      margin-right: 8px;
    }

    .username {
      @include mixins.truncate;
      flex-grow: 1;
      padding-right: 8px;
      font-weight: 700;
    }
  }
}
