@use '../constants';

* {
  margin: 0;
  font-family: constants.$font-main;
  -moz-osx-font-smoothing: grayscale; // 글자 부드럽게
  -webkit-font-smoothing: antialiased; // 글자 부드럽게
  box-sizing: border-box;
}

html {
  font-family: constants.$font-main;
  font-size: constants.$font-size-16; // 기본 본문 폰트 사이즈
}

body {
  font-family: constants.$font-main;
  color: constants.$primary;
}

h1 {
  margin: 0;
}

a {
  color: inherit; // 색깔을 상속받음
  text-decoration: none;
}

button,
input,
select,
textarea {
  border: 0;
  padding: 0;
  background-color: transparent;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a,
button {
  cursor: pointer;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}
