@use '../constants';
@use '../mixins';

.gnb {
  position: relative;
  border-bottom: 1px solid constants.$border;

  &-wrapper {
    @include mixins.flexbox(between);
    height: 50px;
  }

  &-right {
    .button-group {
      @include mixins.flexbox(end);
    }

    .gnb-icon-button.is-search {
      margin-right: 4px;
    }
  }

  .logo {
    @include mixins.pos-center;

    a {
      display: block;
    }

    img {
      display: block;
      width: auto;
      height: 20px;
    }
  }

  @include mixins.responsive(T) {
    // 768px
    &-wrapper {
      height: 80px;
    }

    &-left {
      @include mixins.flexbox(start);
    }

    &-right {
      @include mixins.flexbox(end);

      .button-group {
        margin-right: 24px;

        .gnb-icon-button {
          margin-right: 8px;
        }

        .gnb-auth {
          margin-left: 8px;

          a {
            @include mixins.text-style(14, constants.$secondary);
            font-weight: 700;

            &:first-child {
              margin-right: 12px;
            }

            &:hover {
              color: constants.$blue;
            }
          }
        }
      }
    }

    .logo {
      position: static; // 원래 상태로 되돌리기
      margin-right: 32px;
      transform: none;

      img {
        height: 24px;
      }
    }

    .btn-primary {
      width: 88px;

      i {
        font-size: 20px;
        margin-left: 4px;
      }
    }
  }

  @include mixins.responsive(D) {
    // 1200px
    &-search {
      position: relative;
      width: 264px;
      margin-right: 24px;

      .input-group {
        width: 100%;
      }

      .search-history {
        position: absolute;
        top: calc(100% + 8px); // 항상 + 사이는 띄워쓰기
        left: 0;
        display: none;
        width: 100%;
        padding: 16px 8px 8px;
        background-color: constants.$white;
        border: 1px solid constants.$border;
        border-radius: 4px;
        box-shadow: constants.$dropdown-shadow;

        &.is-active {
          display: block;
        }

        &-header {
          padding: 0 8px;
        }
      }
    }
  }
}
