@use 'sass:math';
@use '../constants';
@use '../mixins';

.container {
  width: 100%;
  padding: 0 constants.$sm-margin; // container-size
  margin: 0 auto; // DESKTOP도 고려해서 항상 정중앙에 배치

  .row {
    display: flex;
    flex-wrap: wrap; // 한 줄이 다 차면 아래로 떨어뜨리기 위해
  }

  // .col-sm-1 .col-md-2 .col-lg-3
  [class^='col-'] {
    padding: 0 calc(constants.$gutter / 2);
  }

  @for $i from 1 through constants.$sm-columns {
    .col-sm-#{$i} {
      width: math.percentage(calc($i / constants.$sm-columns));
    }
  }

  @include mixins.responsive(T) {
    max-width: constants.$md-max-container;
    padding: 0 constants.$md-margin;

    @for $i from 1 through constants.$md-columns {
      .col-md-#{$i} {
        width: math.percentage(calc($i / constants.$md-columns));
      }
    }
  }

  @include mixins.responsive(D) {
    max-width: constants.$lg-max-container;
    padding: 0; // padding 값 안갖음

    @for $i from 1 through constants.$lg-columns {
      .col-lg-#{$i} {
        width: (constants.$lg-unit + constants.$gutter) * $i;
      }
    }
  }
}
